In [1]:
# Preprocessing the data:
#
# 1. Remove the 'Production (tonnes)' string from columns' names as it
#    occupies significant space and that information is reduntant
#    throughout the columns
#
# 2. Replace the column name 'Entity' with 'Country' - It is more intuitive
#
# 3. The rest of the table is well organized and ready to be connected with SQL

In [3]:
# 1.

import pandas as pd
import pymysql

df = pd.read_csv('../01_data_files/world_food_production_raw_data.csv')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [4]:
df.columns.values

array(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )',
       'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)',
       'Sugar cane Production (tonnes)', 'Soybeans  Production (tonnes)',
       'Rye  Production (tonnes)', 'Potatoes  Production (tonnes)',
       'Oranges  Production (tonnes)', 'Peas, dry Production ( tonnes)',
       'Palm oil  Production (tonnes)', 'Grapes  Production (tonnes)',
       'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)',
       'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'], dtype=object)

In [5]:
remove_string = 'Production(tonnes)'

for i in range(len(df.columns)):
    
    df.columns.values[i] = df.columns.values[i].replace(' ', '')
    df.columns.values[i] = df.columns.values[i].replace(remove_string, '')

In [6]:
df.columns.values

array(['Entity', 'Year', 'Maize', 'Rice', 'Yams', 'Wheat', 'Tomatoes',
       'Tea', 'Sweetpotatoes', 'Sunflowerseed', 'Sugarcane', 'Soybeans',
       'Rye', 'Potatoes', 'Oranges', 'Peas,dry', 'Palmoil', 'Grapes',
       'Coffee,green', 'Cocoabeans', 'Meat,chicken', 'Bananas',
       'Avocados', 'Apples'], dtype=object)

In [7]:
# 2.
new_column_names = ['Country', 'Year', 'Maize', 'Rice', 'Yams', 'Wheat', 'Tomatoes',
       'Tea', 'Sweetpotatoes', 'Sunflowerseed', 'Sugarcane', 'Soybeans',
       'Rye', 'Potatoes', 'Oranges', 'Peas,dry', 'Palmoil', 'Grapes',
       'Coffee,green', 'Cocoabeans', 'Meat,chicken', 'Bananas',
       'Avocados', 'Apples']
df.columns = new_column_names

In [8]:
df

,Country,Year,Maize,Rice,Yams,Wheat,Tomatoes,Tea,Sweetpotatoes,Sunflowerseed,Sugarcane,Soybeans,Rye,Potatoes,Oranges,"Peas,dry",Palmoil,Grapes,"Coffee,green",Cocoabeans,"Meat,chicken",Bananas,Avocados,Apples
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,45000.0,71813.000,10290.000,130000.000,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,45000.0,84594.000,9100.000,115000.000,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,45000.0,87260.000,13800.000,122000.000,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,45000.0,76781.000,16100.000,129000.000,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,51000.0,73067.000,13900.000,132000.000,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,11691968.0,56981.348,39390.000,1343391.240,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,6262598.8,33201.948,395575.200,1343300.160,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,91068370.0,2757526.764,4971651.868,1734927.992,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,139404061.2,63693.080,18641.028,4414078.400,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,84630932.0,5554608.246,140284.800,271012.612,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [9]:
# Cote d'Ivoire as an ' as it would create an error in SQL syntax
# ' needs to be removed
for i in range(df.shape[0]):
    if ("'") in df[df.columns[0]][i]: 
        df[df.columns[0]][i] = df[df.columns[0]][i].replace("'", "")

C:\Users\Utilizador\anaconda3\envs\world_food_production\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
# Loop to create multipe query lines to be inserted in SQL subsequently

a = 0
b = 2000
k = 2000
lista = []

while a < df.shape[0]:    
    insert_query = 'INSERT INTO world_food_production VALUES '
    
    if a > 10000:
        new_df = df.iloc[b:,:]
        
    else:
        new_df = df.iloc[a:b,:]      

        for i in range(new_df.shape[0]):
            insert_query += '(' 

            for j in range(new_df.shape[1]):
                insert_query += "'" + str(new_df[new_df.columns[j]][i+a]) + "'" + ', '

            insert_query = insert_query[:-2] + '), '
        
    insert_query = insert_query[:-2] + ';'

    lista.append(insert_query)
    
    a += k
    b += k

In [11]:
# 3.

conn = pymysql.connect(database= 'world_food_production', user = 'root', password = '365pass')

In [12]:
cursor = conn.cursor()

In [13]:
for i in range(len(lista)):
    cursor.execute(lista[i])
    conn.commit()

In [16]:
df.to_csv('../01_data_files/world_food_production_processed.csv')